<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🍩 collab.dev report</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
</head>

<body class="bg-gray-100 min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl text-center text-gray-800 mb-8 font-mono tracking-tight font-semibold">
      🍩 collab.dev report
    </h1>
    {% block content %}
    <div class="bg-white shadow rounded-lg p-6 mt-6">
      <h2 class="text-xl font-semibold mb-4">Repository Reports</h2>
      {% if repositories %}
      <ul class="list-disc pl-5 space-y-2">
        {% for repo in repositories %}
        <li>
          <a href="/report/{{ repo }}" class="text-blue-600 hover:underline">{{ repo }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-gray-600 mb-4">No repositories found.</p>
      {% endif %}
    </div>
    <div class="bg-white shadow rounded-lg p-6 mt-6">
      <p class="text-gray-600 mb-4">Run the following command from the root of the project to collect repository data:
      </p>
      <pre class="bg-gray-100 rounded-lg p-4">pdm collect -n {number of PRs} {owner}/{repo}</pre>
      <p class="text-gray-600 my-4">
        Note: You must include the <code class="bg-gray-100 rounded-lg p-1">GITHUB_TOKEN</code> in your environment
        variables before running the command.
      </p>
      <p class="text-gray-600 my-4">
        For example, to collect 100 PRs for the <code class="bg-gray-100 rounded-lg p-1">collab_dev</code> repository,
        run:
      </p>
      <pre class="bg-gray-100 rounded-lg p-4">GITHUB_TOKEN=your_token pdm collect -n 100 facebook/react</pre>
    </div>
    {% endblock %}
  </div>
  <footer class="mt-8 py-6 border-t border-gray-200">
    <div class="container mx-auto px-4 flex flex-col items-center">
      <div class="flex justify-center space-x-6 text-gray-600 mb-2">
        <a href="https://github.com/pullflow/collab-dev/issues" class="hover:text-blue-600 hover:underline">Issues</a>
        <a href="https://github.com/pullflow/collab-dev" class="hover:text-blue-600 hover:underline">GitHub</a>
        <a href="https://collab.dev" class="hover:text-blue-600 hover:underline">Cloud Edition: https://collab.dev</a>
      </div>
      <div class="text-gray-600 text-sm">
        MIT Licensed. Open source project by <a href="https://pullflow.com"
          class="text-primary font-bold hover:underline">PullFlow</a>.
      </div>
    </div>
  </footer>
</body>

</html>