{% extends "components/charts/chart.html" %}
{% from "components/charts/metric.html" import metric %}
{% block title %}Request Approval Time{% endblock %}
{% block metrics %}
{% if approval_data %}
{{ metric(label="Overall Median Approval Time", value="%.1f"|format(approval_data.overall_median) ~ " hours",
tip="Median time between review request and approval") }}
{% endif %}
{% endblock %}
{% block chart %}
{% if approval_data %}
<div id="approval-time-plot">
	{% if approval_data.plot_html %}
	{{ approval_data.plot_html | safe }}
	{% endif %}
</div>
{% else %}
<p>No approval time data available because there are no reviews in the data.</p>
{% endif %}
{% endblock %}
{% block caption %}
Shows the median approval times for Pull Requests (PRs), grouped by size. This helps teams understand the impact of PR
size on how quickly approvals happen.
{% endblock %}